body {
    margin: 0;
    font-family: "time new roman";
    background-color: #e0c3d1;
}

.container {
    width: 350px;
    margin: 100px auto;
    background-color: rgb(218, 111, 172);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px black;
    text-align: center;
}

.title {
    margin-bottom: 20px;

}

.form {
    text-align: 20px;

}

.label {
    display: block;
    margin-top: 10px;

}

.input {
    width: 325px;
    padding: 8px;
    margin-top: 5px;
    font-size: 20px;

}

.btn {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 8px;
    background-color: #E75480;
    color: rgb(252, 249, 249);
    text-align: center;
    border-radius: 5px;
}

.text {
    margin-top: 20px;
}


.link {
    color: rgb(245, 245, 245);
    text-decoration: none;
    
}